Repository malpern/youtubesorter: changes, and which pre-commit hooks are due for each by the changed paths.
All: command-inheritance-test, pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: command-inheritance-test
      name: Check command inheritance
      entry: pytest tests/test_commands.py::TestYouTubeCommand::test_all_commands_inherit_from_base -v
      language: system
      pass_filenames: false
      types: [python]
      files: ^src/commands/.*\.py$

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args: [
        "--rcfile=.pylintrc",  # Use our custom config
      ]

    - id: pytest
      name: pytest
      entry: pytest
      language: system
      pass_filenames: false
      always_run: true

refactor: organize JSON files into subdirectories (credentials, cache, state, recovery)
  .gitignore
  ARCHITECTURE.md
  INSTALLATION.md
  cleanup_recovery.py
  src/youtubesorter/cache.py
  src/youtubesorter/common.py
  src/youtubesorter/config.py
  src/youtubesorter/recovery.py
  src/youtubesorter/undo.py
Due: pylint

Organized JSON files into subdirectories and updated code to use new paths. Tests were already using correct paths.
  src/youtubesorter/common.py
  tests/test_cache.py
  tests/test_common.py
  tests/test_consolidate.py
  tests/test_recovery.py
  tests/test_undo.py
Due: pylint

Remove TODO-and-TODONE.md as items are now documented elsewhere
  TODO-and-TODONE.md
Due: none

Remove CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

Remove completed TODO files
  TODO.md
  TODONE.md
Due: none

Update gitignore for coverage artifacts
  .gitignore
Due: none

Move documentation files to docs/ directory
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/IMPLEMENTATION.md
  docs/INSTALLATION.md
  docs/USAGE.md
Due: none

Reorganize project structure: - Move documentation to docs/ directory - Move test files to tests/ directory - Update README links
  ARCHITECTURE.md
  CHANGELOG.md
  IMPLEMENTATION.md
  INSTALLATION.md
  README.md
  USAGE.md
Due: none

Reorganize project structure: - Move documentation to docs/ directory - Move test files to tests/ directory - Update README links
  docs/IMPLEMENTATION.md
Due: none

Reorganize project structure: - Update IMPLEMENTATION.md file tree - Move test files to tests/ directory
  tests/run_api_tests.py
  tests/run_api_tests.sh
Due: pylint

Update IMPLEMENTATION.md with complete test directory structure
  docs/IMPLEMENTATION.md
Due: none

Add initial Web API planning documentation
  docs/WEBAPI.md
Due: none

feat: Standardize API field usage and parameter order, enhance stability documentation
  README.md
  docs/IMPLEMENTATION.md
  requirements.txt
  src/commands/__init__.py
  src/youtubesorter/api.py
  src/youtubesorter/classify.py
  src/youtubesorter/cli.py
  src/youtubesorter/commands/base.py
  src/youtubesorter/commands/classify.py
  src/youtubesorter/commands/deduplicate.py
  src/youtubesorter/commands/move.py
  src/youtubesorter/commands/quota.py
  src/youtubesorter/common.py
  src/youtubesorter/consolidate.py
  src/youtubesorter/core.py
  src/youtubesorter/deduplicate.py
  src/youtubesorter/distribute.py
  src/youtubesorter/recovery.py
  src/youtubesorter/undo.py
  src/youtubesorter/webapi.py
  tests/conftest.py
  tests/test_api.py
  tests/test_api_integration.py
  tests/test_classify.py
  tests/test_classify_command.py
  tests/test_common.py
  tests/test_consolidate.py
  tests/test_core.py
  tests/test_deduplicate.py
  tests/test_distribute.py
  tests/test_integration.py
  tests/test_move_command.py
  tests/test_undo.py
  tests/test_webapi.py
Due: command-inheritance-test, pylint
